.html-style {
  /* Background image will occupy 100% of window height */
  height: 100%;
}

.body-style {
  background-image: url("./../images/seong-stick-flex_medium.jpg");

  /* Background color matches color of ice */
  background-color: #dce2e0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* Add padding so jumbotron doesn't reach bottom of page */
  padding-bottom: 4rem;
}

.jumbotron-style {
  background-color: rgba(16, 92, 132, 0.7);

  /* White text color */
  color: white;
  text-align: center;

  border-radius: 0.3rem;

  /* So jumbotron has space at edges for xs screens */
  max-width: 90%;

  /* Margin so jumbotron is near middle of page vertically */
  margin-top: 12%;

  /* Add padding around contents in jumbotron */
  padding: 2rem 1rem;
}

/* For sm screens and up */
@media (min-width: 576px) {
  .jumbotron-style {
    margin-top: 10%;

    max-width: 85%;

    /* Add padding around contents in jumbotron */
    padding: 4rem 2rem;
  }
}

/* For md screens and up */
@media (min-width: 768px) {
  .jumbotron-style {
    margin-top: 8%;

    max-width: 80%;
  }
}

/* For lg screens and up */
@media (min-width: 992px) {
  .jumbotron-style {
    margin-top: 6%;

    max-width: 75%;
  }
}

/* For xl screens and up */
@media (min-width: 1200px) {
  .jumbotron-style {
    margin-top: 4%;

    max-width: 70%;
  }
}

/* For xxl screens and up */
@media (min-width: 1400px) {
  .jumbotron-style {
    margin-top: 3%;

    max-width: 65%;
  }
}

.profile-style {
  /* Limit height of profile picture on smaller screens */
  max-height: 17rem;
}

.button-style {
  background-color: #84d4f7;
  border-color: #84d4f7;
}
