.body-style {
  padding-top: 0;
  padding-bottom: 6rem;
}

.jumbotron-style {
  padding: 0 0;

  margin-bottom: 0;

  display: flex;
  justify-content: center;

  height: 33rem;
}

.jumbotron-video-style {
  max-width: 100%;

  object-fit: cover;
}

/* For xs screens (less than 576px) */
.calendar-ratio-parent-style {
  width: 400px;
  height: 300px;
}

/* For md screens and up */
@media (min-width: 768px) {
  .calendar-ratio-parent-style {
    width: 600px;
    height: 450px;
  }
}

/* For lg screens and up */
@media (min-width: 992px) {
  .calendar-ratio-parent-style {
    width: 800px;
    height: 600px;
  }

  .video-ratio-parent-style {
    width: 800px;
    height: 450px;
  }
}

/* For xxl screens and up */
@media (min-width: 1400px) {
  .calendar-ratio-parent-style {
    width: 1200px;
    height: 675px;
  }

  .video-ratio-parent-style {
    width: 1200px;
    height: 675px;
  }
}
